# Android
*.apk
*.ap_

# Carpeta de construcción/compilación
/build/
/app/build/

# Archivos de configuración local (se deben incluir en el repositorio solo si son específicos del entorno)
/*/local.properties

# Archivos Gradle
/.gradle/
/captures/

# Archivos generados por IDE
/.idea/
*.iml
*.iws
*.iws
*.ipr

# Archivos de respaldo (generalmente creados por editores de texto)
*~
*.swp
*.bak
*.orig

